.current-poll {
  background-color: #dbdcdb;
}

.current-poll button {
  margin: 2px;
}

h3 {
  color: #26658f;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  top: 10px;
}
#mark {
  margin: 0 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: #26658f;
  position: relative;
  border-radius: 50%;
  display: inline-block;
}
#mark:before {
  content: "";
  position: absolute;
  right: 50%;
  width: 10px;
  height: 10px;
  top: 50%;
  background-color: #26658f;
}

.content {
  margin: 20px;
}
#question {
  font-size: 2em;
  display: inline;
}

#question + label {
  font-size: 1.5rem;
  color: #26658f;
  display: inline;
  margin-left: 5px;
  font-weight: bold;
}
#total-number {
  margin: 10px;
  font-size: 1.8rem;
}
