.poll-list {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 720px) {
  .poll-list > div:nth-of-type(odd) {
    border-right: 1px solid gray;
  }
  .poll-list > div:nth-of-type(odd)::after {
    content: "";
    width: 90%;
    right: 5%;
    bottom: 0px;
    position: absolute;
    border-bottom: 1px dotted grey;
  }
  .poll-list > div:nth-of-type(even)::after {
    content: "";
    width: 90%;
    bottom: 0px;
    left: 5%;
    position: absolute;
    border-bottom: 1px dotted grey;
  }
}

#line {
  width: 38%;
  top: 50%;
  left: 10%;

  position: absolute;
  border-bottom: 1px dotted grey;
}

#line-right {
  width: 38%;
  top: 50%;
  right: 10%;

  position: absolute;
  border-bottom: 1px dotted grey;
}
